
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-debug-screens";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */
h1, h2 {
  font-family: 'Big Shoulders', sans-serif;
}

.font-roboto-mono{
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

/* For webkit browsers like Chrome and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
  height: 12px; /* Set the height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Scrollbar thumb color */
  border-radius: 10px; /* Make the scrollbar thumb rounded */
  border: 3px solid rgb(174, 173, 173); 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(224, 224, 224); /* Track color */
  border-radius: 5px; /* Make the scrollbar track rounded */
}




